## Build files
build/*
!build/.gitkeep

## Data files
data/*
!data/.gitkeep

## Temp files
tmp/*

## Log files
log_files/*
!log_files/.gitkeep

## IDEs
/.vscode
/.idea

## Environment
.env
